<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="odradek_surgical_assistant_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="shoulder_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_1_inner_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_1_inner_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_1_outer_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_1_outer_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_2_inner_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_2_inner_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_2_outer_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_2_outer_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_3_inner_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_3_inner_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_3_outer_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_3_outer_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_4_inner_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_4_inner_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_4_outer_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_4_outer_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_5_inner_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_5_inner_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="petal_5_outer_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['petal_5_outer_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
